
.layout {
  display: flex;
  height: 100vh;
  padding-top: 100px;
}

/* Sidebar styling */
.sidebar {
  width: 200px;
  background-color: #f8f9fa; 
  height: 100vh; 
  position: fixed; 
  top: 0;
  left: 0;
}

.main-content {
  margin-left: 200px; 
  flex-grow: 1;
  padding: 20px;
}

.main-header {
  width: -webkit-fill-available;
  position: fixed;
  top: 0;
  left: 200px; 
  z-index: 1000; 
}
